@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto-regular-webfont.woff);
}

* {
    margin: 0px;
}

html {
    font-family: roboto-regular, sans-serif;
}

body {
    color: #fff;
}

header, 
main,
footer {
    width: 100%;
}

header {
    background-color: #252525;

    position: fixed;
    top: 0;
    height: 70px;
}

p {
    white-space: pre;
}

main {
    margin-top: 70px;
    min-height: calc(100vh - 115px);
    
    background-color: #333333;
    overflow: auto;
}

.title {
    margin: 10px 20px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 260px));
    gap: 30px;
    justify-items: center;

    margin: 40px 20px;
}

.book {
    background-color: #fde5b2;

    color: #252525;

    border-radius: 5px;
    padding: 15px;

    line-height: 2em;

    width: 230px;
}

footer {
    background-color: #333333;

    position: relative;

    bottom: 0;
    height: 45px;
}

button {
    color: #fff;
}

.new-book-btn {
    position: fixed;
    bottom: 20px;
    margin-left: 20px;
    
    max-width: 150px;
    width: 30vw;
    height: 5vh;

    background-color: #16a34a;
    font-weight: bold;

    border: none;
    border-radius: 8px;
}

.new-book-btn,
.book {
    box-shadow: 5px 5px 10px #252525;
}

dialog {
    background-color: #333333;

    border: #585858 solid 1px;
    border-radius: 8px;

    color: #fff;

    margin: auto;
}

dialog p {
    font-size: 1.2em;
    font-weight: bold;
}

.input-label {
    display: inline-block;
    width: 200px;
}

input {
    background-color: #d6d6d6;
    border: none;
    border-radius: 4px;

    outline: none;
    
    font-size: 1em;

    height: 25px;

    padding-left: 5px;

    color: #252525;
}

input[type="text"], 
input[type="number"],
fieldset {
    width: 300px;
}

input[type="radio"]{
    margin-right: 10px;
}

.radio-label {
    margin-right: 20px;
}

.radio-label,
input[type="radio"] {
    display: inline-block;
    vertical-align: top;
}

fieldset {
    padding: 2px;
}

form {
    margin-top: 20px;

    display: grid;
    gap: 10px;
}

.form-btns {
    justify-self: end;
}

.form-btns button {
    height: 30px;
    width: 100px;

    border-radius: 7px;

    font-weight: bold;
}

.add-btn {
    background-color: #16a34a;

    border: none;
}

.close-btn {
    background-color: #333333;

    border: #585858 solid 1px;
}